<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>Stubby Body</strong></h1>
        <p class="text-secondary">Max Wu, student at Del Norte High School</p>
        <table>
            <tr>
              <th><mark>Prefix</mark></th>
              <th><mark>Scientific Notation</mark></th>
              <th><mark>Example</mark></th>
            </tr>
            <tr>
              <td>femto-</td>
              <td>1*10^-15</td>
              <td>1 femptometer</td>
            </tr>
            <tr>
              <td>pico-</td>
              <td>1*10^-12</td>
              <td>1 picofarad</td>
            </tr>
            <tr>
                <td>nano--</td>
                <td>1*10^-9</td>
                <td>1 nanosecond</td>
              </tr>
              <tr>
                <td>micro-</td>
                <td>1*10^-6</td>
                <td>1 microgram</td>
              </tr>
              <tr>
                <td>milli-</td>
                <td>1*10^-3</td>
                <td>1 milliohm</td>
              </tr>
              <tr>
                <td>centi-</td>
                <td>1*10^-2</td>
                <td>1 centimeter</td>
              </tr>
              <tr>
                <td>Base</td>
                <td>1*10^0</td>
                <td>1 Newton</td>
              </tr>
              <tr>
                <td>kilo-</td>
                <td>1*10^3</td>
                <td>1 kilogram</td>
              </tr>
              <tr>
                <td>mega--</td>
                <td>1*10^6</td>
                <td>1 MegaJoule</td>
              </tr>
              <tr>
                <td>giga-</td>
                <td>1*10^9</td>
                <td>1 gigavolt</td>
              </tr>
              <tr>
                <td>tera-</td>
                <td>1*10^12</td>
                <td>1 teraohm</td>
              </tr>

          </table>
    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
